@model PawOgIsakKoderSomAberFrontend.Models.NN.NeuralNetwork

@{
    ViewBag.Title = "CreateNetwork";
}

<h2>CreateNetwork</h2>


@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Train neural network</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Train network" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
