@model System.Double
<div class="row">
    <div class="col-md-6">
        @Html.LabelFor(model => model)
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @Html.TextBoxFor(model=>model)
    </div>
</div>